services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: uptrader
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5435:5432"
    volumes:
      - uptrader_pg_data:/var/lib/postgresql/data

  web:
    build:
      context: .
    environment:
      DB_HOST: db
      DB_PORT: "5432"
      DB_NAME: uptrader
      DB_USER: postgres
      DB_PASSWORD: postgres
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  uptrader_pg_data:

