services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ivelum
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"
    volumes:
      - ivelum_pg_data:/var/lib/postgresql/data

  api:
    build:
      context: .
    environment:
      DATABASE_URL: postgresql+psycopg://postgres:postgres@db:5432/ivelum
    ports:
      - "8002:8002"
    depends_on:
      - db

volumes:
  ivelum_pg_data:

