<ul>
  {% for node in nodes %}
    <li>
      {% if node.active %}
        <strong>{{ node.item.title }}</strong>
      {% else %}
        {% if node.item.url %}
          <a href="{{ node.item.url }}">{{ node.item.title }}</a>
        {% elif node.item.named_url %}
          <a href="{% url node.item.named_url %}">{{ node.item.title }}</a>
        {% else %}
          {{ node.item.title }}
        {% endif %}
      {% endif %}

      {% if node.expanded and node.children %}
        {% include "menuapp/menu.html" with nodes=node.children %}
      {% endif %}
    </li>
  {% endfor %}
</ul>

