services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: mstroy
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5436:5432"
    volumes:
      - mstroy_pg_data:/var/lib/postgresql/data

  api:
    build:
      context: .
    environment:
      DATABASE_URL: postgresql+psycopg://postgres:postgres@db:5432/mstroy
    ports:
      - "8003:8003"
    depends_on:
      - db

volumes:
  mstroy_pg_data:

